<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-2">
      <app-menu></app-menu>
    </div>
    <div class="col">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--<div class="title">
   <app-title title="Menu Principal"></app-title>
    <br>
    <div style="width:500px">
    <app-input cabecalho="Nome"></app-input>
    <div>
      <div style="width:500px; margin-top:10px">
    <app-input cabecalho="Endereco"></app-input>
  </div>
<br>
  <div>
    <app-number cabecalho="Salario"></app-number>
  </div>
</div>
<br>
<app-data cabecalho="Dt Nascimento"></app-data>

-->
